<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="github.tornaco.xposedmoduletest">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:name=".xposed.XAPMApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Github@Tornaco/X-APM" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity android:name=".ui.activity.test.TestAIOActivity" />
        <activity android:name=".ui.activity.test.TabTestActivity" />
        <activity
            android:name=".ui.activity.ag.VerifyDisplayerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/title_default_verifyer"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="github.tornaco.xpose.app.guard.action.verify.displayer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ag.PatternSetupActivity"
            android:label="@string/title_setup_code_new"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.PinSetupActivity"
            android:label="@string/title_setup_code_new"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.NavigatorActivity"
            android:theme="@style/AppThemeLauncher" />
        <activity
            android:name=".ui.activity.NavigatorActivityBottomNav"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".ui.activity.app.GetPlayVersionActivity"
            android:label="@string/title_get_play" />
        <activity
            android:name=".ui.activity.ag.GuardAppNavActivity"
            android:label="@string/title_app_guard"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.GuardAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.blur.BlurAppNavActivity"
            android:label="@string/title_app_recent_blur"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.blur.BlurAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lazy.LazyAppNavActivity"
            android:label="@string/title_app_lazy"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lazy.LazyRuleNavActivity"
            android:label="@string/title_app_lazy_rule"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lazy.LazyAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.uninstall.UnstallProAppNavActivity"
            android:label="@string/title_app_uninstall_pro"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.uninstall.UnstallProAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.resdient.ResdientAppNavActivity"
            android:label="@string/title_app_resident"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.pm.PackageInstallVerifyNavActivity"
            android:label="@string/title_package_install_verify"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.resdient.ResdientAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.boot.BootAppNavActivity"
            android:label="@string/title_app_boot"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.boot.BootAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.start.StartAppNavActivity"
            android:label="@string/title_app_auto_start"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.start.StartRuleNavActivity"
            android:label="@string/title_app_auto_start_rule"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.start.StartAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lk.LockKillAppNavActivity"
            android:label="@string/title_app_mem_boost"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lk.LockKillAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.rf.RFKillAppNavActivity"
            android:label="@string/title_app_rf_kill"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.rf.RFKillAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.trk.TRKillAppNavActivity"
            android:label="@string/title_app_tr_kill"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.trk.TRKillAppPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.PrivacyAppListNavActivity"
            android:label="@string/title_privacy_apps"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.PrivacyAppListPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.workflow.WorkflowNavActivity"
            android:label="@string/title_workflow"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.workflow.WorkflowEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.prop.PropNavActivity"
            android:label="@string/title_prop_nav"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.prop.PropAppListNavActivity"
            android:label="@string/title_prop_apps"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.prop.PropAppListPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.pmh.PMHDashboardActivity"
            android:label="@string/title_push_message_handler"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.pmh.PMHAvailableHandlersActivity"
            android:label="@string/title_push_message_available_handlers"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.doze.DozeNavActivity"
            android:label="@string/title_doze"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.doze.DozeWhiteListViewerActivity"
            android:label="@string/title_doze_white_list"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.doze.DozeWhiteListPickerActivity"
            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.doze.DozeEventHistoryViewerActivity"
            android:label="@string/title_last_doze"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.helper.RunningServicesActivity"
            android:exported="true"
            android:label="@string/title_running_services"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.helper.RunningServicesDetailsActivity"
            android:exported="true"
            android:label="@string/title_running_services"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.SecureGuardSettings"
            android:label="@string/title_secure"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.ExperimentGuardSettings"
            android:label="@string/title_exp"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.AdvancedGuardSettings"
            android:label="@string/title_advance"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.VerifierGuardSettings"
            android:label="@string/title_verifier"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.GuardSettingsDashboardActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.smartsense.SmartSenseDashboardActivity"
            android:label="@string/title_smart_sense"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.blur.BlurSettingsDashboardActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lk.LKSettingsDashboardActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.trk.TRKSettingsDashboardActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.rf.RFKSettingsDashboardActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.green2.LazySettingsDashboardActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.comp.CompSettingsDashboardActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.SettingsDashboardActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.PrivacyNavActivity"
            android:label="@string/title_privacy"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.ToolsDashboardActivity"
            android:label="@string/title_dev_tools"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.PerAppSettingsDashboardActivity"
            android:exported="true"
            android:label="@string/title_per_app_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.AppConfigManifestDashboardActivity"
            android:exported="true"
            android:label="@string/title_config_setting"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.InstalledAppTemplateSettingsDashboardActivity"
            android:label="@string/title_per_app_template"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.AboutDashboardActivity"
            android:label="@string/title_about"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.StyleSettingsActivity"
            android:label="@string/title_style_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.PolicySettingsActivity"
            android:label="@string/title_policy_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.AboutSettingsActivity"
            android:label="@string/title_about"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.BackupRestoreSettingsActivity"
            android:label="@string/title_backup_restore"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lk.GeneralLKSettings"
            android:label="@string/title_general_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.green2.LazyGreenSettings"
            android:label="@string/title_general_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.blur.GeneralBlurSettings"
            android:label="@string/title_general_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.comp.GeneralCompSettings"
            android:label="@string/title_general_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.PhotoViewerActivity"
            android:label="@string/title_view_photos" />
        <activity
            android:name=".ui.activity.BlockRecordViewerActivity"
            android:label="@string/title_block_viewer" />
        <activity
            android:name=".ui.activity.ClearProcessActivity"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.comp.ComponentEditorActivity"
            android:label="@string/title_component_editor"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ShortcutStubActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_short_cut"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.comp.ComponentReplacementActivity"
            android:exported="true"
            android:label="@string/title_comp_replacement"
            android:theme="@style/AppThemeLight.NoActionBar">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.comp.PackageViewerActivity"
            android:label="@string/title_component_manager"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.smartsense.FocusedAppActionActivity"
            android:label="@string/title_app_focus_acions"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.PackageViewerActivity"
            android:label="@string/title_perm_control"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.PermViewerActivity"
            android:label="@string/title_perm_control"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.AppOpsTemplateListActivity"
            android:label="@string/title_app_ops_template"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.AppOpsTemplateEditorActivity"
            android:label="@string/title_app_ops_template"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.OpLogViewerActivity"
            android:label="@string/title_ops_log"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.green2.ExtraOpsSettingActivity"
            android:label="@string/title_greening"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.Apps2OpListActivity"
            android:label="@string/title_perm_control"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.Op2AppsListActivity"
            android:label="@string/title_perm_control"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.DonateActivity"
            android:label="@string/title_activity_donate"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.extra.PayListBrowserActivity"
            android:label="@string/title_pay_list"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.nf.NetworkRestrictActivity"
            android:label="@string/title_nf"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.stub.LockScreenStubActivity"
            android:exported="true"
            android:theme="@style/AppThemeStub" />
        <activity
            android:name=".ui.activity.stub.ClearStubActivity"
            android:exported="true"
            android:theme="@style/AppThemeStub" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".provider.ComponentsReplacementProvider"
            android:authorities="github.tornaco.xposedmoduletest.components_replacement_provider"
            android:exported="false" />

        <service
            android:name=".service.WidgetService"
            android:exported="true">
            <intent-filter>
                <action android:name="tornaco.appwidget.action.clear_process" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.ActivityToastQuickTileService"
            android:icon="@drawable/ic_add_alert_black_24dp"
            android:label="@string/title_show_focused_activity"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.ScreenShotQuickTileService"
            android:enabled="false"
            android:icon="@drawable/ic_image_black_24dp"
            android:label="@string/title_long_screen_shot"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.PushMessageNotificationService"
            android:label="@string/title_push_message_notification_service">
            <intent-filter>
                <action android:name="github.tornaco.xposedmoduletest.action.StartPushMessageNotificationService" />
            </intent-filter>
        </service>
    </application>

</manifest>