<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="github.tornaco.xposedmoduletest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".xposed.XApp"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Easy implementation of App guard" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name=".ui.activity.ag.VerifyDisplayerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/title_default_verifyer"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight.NoActionBar">
            <intent-filter>
                <action android:name="github.tornaco.xpose.app.guard.action.verify.displayer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ag.PatternSetupActivity"

            android:label="@string/title_setup_code_new"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.NavigatorActivity"

            android:theme="@style/AppThemeLight.Drawer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.activity.app.GetPlayVersionActivity"
            android:label="@string/title_get_play" />
        <activity
            android:name=".ui.activity.ag.GuardAppNavActivity"

            android:label="@string/title_app_guard"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.GuardAppPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.blur.BlurAppNavActivity"

            android:label="@string/title_app_recent_blur"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.blur.BlurAppPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lazy.LazyAppNavActivity"

            android:label="@string/title_app_lazy"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lazy.LazyAppPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.uninstall.UnstallProAppNavActivity"

            android:label="@string/title_app_uninstall_pro"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.uninstall.UnstallProAppPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.boot.BootAppNavActivity"

            android:label="@string/title_app_boot"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.boot.BootAppPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.start.StartAppNavActivity"

            android:label="@string/title_app_auto_start"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.start.StartAppPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lk.LockKillAppNavActivity"

            android:label="@string/title_app_lock_kill"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lk.LockKillAppPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.rf.RFKillAppNavActivity"

            android:label="@string/title_app_rf_kill"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.rf.RFKillAppPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.trk.TRKillAppNavActivity"

            android:label="@string/title_app_tr_kill"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.trk.TRKillAppPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.PrivacyAppListNavActivity"

            android:label="@string/title_privacy_apps"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.PrivacyAppListPickerActivity"

            android:label="@string/title_picker"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.doze.DozeNavActivity"

            android:label="@string/title_doze"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.doze.DozeEventHistoryViewerActivity"

            android:label="@string/title_last_doze"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.helper.RunningServicesActivity"

            android:label="@string/title_running_services"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.SecureGuardSettings"

            android:label="@string/title_secure"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.ExperimentGuardSettings"

            android:label="@string/title_exp"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.AdvancedGuardSettings"

            android:label="@string/title_advance"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.VerifierGuardSettings"

            android:label="@string/title_verifier"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.ag.GuardSettingsDashboardActivity"

            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.smartsense.SmartSenseDashboardActivity"

            android:label="@string/title_smart_sense"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.blur.BlurSettingsDashboardActivity"

            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lk.LKSettingsDashboardActivity"

            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.comp.CompSettingsDashboardActivity"

            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.AppDashboardActivity"

            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.PrivacyNavActivity"

            android:label="@string/title_privacy"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.ToolsDashboardActivity"

            android:label="@string/title_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.app.AboutDashboardActivity"

            android:label="@string/title_about"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.lk.GeneralLKSettings"

            android:label="@string/title_general_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.blur.GeneralBlurSettings"

            android:label="@string/title_general_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.comp.GeneralCompSettings"

            android:label="@string/title_general_settings"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.PhotoViewerActivity"

            android:label="@string/title_view_photos" />
        <activity
            android:name=".ui.activity.BlockRecordViewerActivity"

            android:label="@string/title_block_viewer" />
        <activity
            android:name=".ui.activity.ClearProcessActivity"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.comp.ComponentEditorActivity"

            android:label="@string/title_component_editor"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.comp.ComponentReplacementActivity"

            android:label="@string/title_comp_replacement"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.comp.PackageViewerActivity"

            android:label="@string/title_component_manager"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.smartsense.FocusedAppActionActivity"

            android:label="@string/title_app_focus_acions"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.PackageViewerActivity"

            android:label="@string/title_perm_control"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.PermViewerActivity"

            android:label="@string/title_perm_control"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.green2.ExtraOpsSettingActivity"

            android:label="@string/title_greening"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.Apps2OpListActivity"

            android:label="@string/title_perm_control"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.perm.Op2AppsListActivity"

            android:label="@string/title_perm_control"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.DonateActivity"
            android:label="@string/title_activity_donate"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".ui.activity.extra.PayListBrowserActivity"
            android:label="@string/title_pay_list"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.nf.NetworkRestrictActivity"
            android:label="@string/title_nf"
            android:theme="@style/AppThemeLight.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".provider.ComponentsReplacementProvider"
            android:authorities="github.tornaco.xposedmoduletest.components_replacement_provider"
            android:exported="true" />

        <service
            android:name=".service.WidgetService"
            android:exported="true">
            <intent-filter>
                <action android:name="tornaco.appwidget.action.clear_process" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name=".ui.appwidget.ClearProcessAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <activity
            android:name=".ui.activity.whyyouhere.UserGiudeActivity"
            android:label="@string/title_activity_user_giude"
            android:theme="@style/AppThemeLight.NoActionBar" />
    </application>

</manifest>